*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

section{
    display:flex;
    flex-wrap: wrap;
    padding: 3rem;
}

.celeste{
    width: 12.5rem;
    height: 12.5rem;
    margin: 1.5rem;
    background-color: aquamarine;
    border-radius: 30px; 
}

.Azul{
    width: 12.5rem;
    height: 12.5rem;
    margin: 1.5rem;
    background-color:midnightblue;
    border-radius: 30px; 
}

