*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.caja{
    width: 375px;
    height: auto;
    padding: 65px;
    display: flex;
    flex-direction: column;
}

.circulo{
    background-color: rebeccapurple;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    padding: 0px; 
    align-self: center;
}
.recta{
    height: 40px;
    width: 300px;
    border-radius:20px;
    text-align: center;
    background-color: rebeccapurple;
    border-radius:20px;
    align-self: center;
    margin-top: 30px;
    
}
.recta_2{
    height: 20px;
    width: 150px ;
    border-radius:20px;
    text-align: center;
    background-color: black;
    align-self: center;
    margin-top: 30px;
}
.recta_3{
    height: 20px;
    width: 150px;
    border-radius:20px;
    text-align: center;
    background-color: black;
    align-self: center;
    margin-top: 15px;
}
.recta_4{
    height: 150px;
    width: 300px;
    border-radius:20px;
    text-align: center;
    background-color: orange;
    align-self: center;
     margin-top: 30px;
}

.recta_5{
     height: 30px;
    width: 300px;
    border-radius:20px;
    text-align: center;
    background-color: black;
    align-self: center;
    margin-top: 30px;
}